
body{
    margin: auto;
    background-color: rgb(217, 182, 202);
}

/* HEADER SECTION  */
header{
    height: 60px;
    /* background-image: linear-gradient(270deg,#b447eb,#57aeff 95%); */
    /* border: 5px solid hotpink; */
    background-color: #3b2632;
}

.brand{
    float: left;
    color: #fff;
    font-size: 30px;
    margin-top: 1%;
    margin-left: 1%;
    text-transform: capitalize;
}
.socialLogo{
    height: 50px;
    float: right;
}

/* CONTENT  */
.content{
    width: 80%;
    height: 600px;
    display: flex;
    margin-left: 10%;
    margin-top: 2%;
}
.imgDiv{
    width: 45%;
    height: 450px;
    border: 8px solid #3b2632;
}
.imgDiv > img{
    height: 100%;
    width: 100%;
}
.contentDiv{
    height: 550px;
    width: 47%;
    margin-left: 5%;
    margin-top: -2%;
}
.feature_container{
    display: flex;
}
figure{
    margin-left: 5%;
}
.featureIcon{
    width: 100px;
    height: 100px;
}

a{
    text-decoration: none;
}
/* SEARCH SECTION */
.search{
    height: 450px;
    /* border: 1px solid red; */
    /* background-color: #d9b6ca; */
    background-image: url(images/food-wallpaper.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 450px;

}


/* QUICKSEARCH SECTION  */



.quickSubHeading{
    color: gray;
    font-size: 20px;
    line-height: 2;
    margin-left: 2%;

}

.compHeading{
    font-size: 25px;
    font-weight: bold;
    color: #3b2632;
}
.compSubHeading{
    font-size: 20px;
    /* font-weight: bold; */
    color: gray;
}
.compHeading >a{
    color: #3b2632 !important;
}

/* FOOTER SECTION  */
footer{
    /* height: 120px; */
    /* border: 5px groove green; */
    background-color: #3b2632;
    color: white;
    text-align: center;

}
.footText{
    font-size: 20px;
}
.footDiv{
    display: inline-block;
    width: 32%;
    border-right: 2px solid white;
}
.noBorder{
    border: none;
}

ul{
    list-style-type: none;
}

@media screen and (max-width: 1600px) {
    body{
        background-color: rgb(217, 182, 202);;
    }
}
@media screen and (max-width: 1300px) {
    body{
        background-color: rgb(240, 157, 132);
    }
    .dropdown{
        margin-left: 30%;
        margin-top: 26%;
    }
    .heading{
        margin-top: 17%;
        margin-left: 29%;
    }
}
@media screen and (max-width: 800px) {
    body{
        background-color: rgb(135, 180, 211);
    }
    .dropdown {
        width: 87%;
        margin-left: 15%;
        margin-top: 51%;
    }
    .heading {
        margin-top: 34%;
        margin-left: 4%;
    }
    select{
        font-size: 13px;
    }
}
@media screen and (max-width: 1200px) {
    body{
        background-color: rgb(116, 80, 98);
    }
    .dropdown{
        width: 55%;
        margin-left: 27%;
        margin-top: 28%;
    }
    .heading{
        margin-top: 18%;
        margin-left: 26%;
    }
}
@media screen and (max-width: 1000px) {
    body{
        background-color: rgb(83, 133, 91);
    }
    .logo{
        margin-left: 41%;
    }
    .heading {
        margin-top: 23%;
        margin-left: 15%;
    }
    .dropdown {
        width: 74%;
        margin-left: 16%;
        margin-top: 36%;
    }
}
/* @media screen and (max-width: 700px){
    .dropdown {
        width: 74%;
        margin-left: 15%;
        margin-top: 45%;
    }
    select{
        font-size: 13px;
    }
    .heading {
        margin-top: 30%;
        margin-left: 4%;
    }
} */




@media screen and (max-width: 600px) {
    .heading {
        margin-top: 35%;
        margin-left: 2%;
        font-size: 50px;
    }
    .dropdown {
        width: 94%;
        margin-left: 4%;
        margin-top: 54%;
    }
    .logo{
        margin-left: 35%;
    }
    select{
        font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    select{
        font-size: 11px;
    }
    .heading{
        font-size: 36px;
        margin-top: 52%;
        margin-left: 4%;
    }
    .logo{
        margin-left: 34%;
        margin-top: 4%;
    }
    .dropdown{
        margin-top: 75%;
        margin-left: 3%;
    }

}
@media screen and (max-width: 400px){
    .heading {
        font-size: 32px;
        margin-top: 57%;
        margin-left: 3%;
    }
    select {
        font-size: 9px;
    }
    .dropdown{
        width: 78%;
        margin-top: 83%;
        margin-left: 9%;
    }
    #restSelect {
        width: 58%;
    }
    .logo{
        margin-left: 29%;
    }
}